.article{
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    margin:5px;
    padding-bottom:10px;
}

.image{
    width:250px;
    height:200px;
   
}

.p{
  padding-left:7px;
  margin: 5px;
} 

.link{
    
    color:rgb(168, 167, 167);
    padding-left:7px;
    
}