* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

main {
    width: 100%;
    max-width: 1173.35px;
    margin: 0 auto;
    margin-top: 152.7px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: #34495E;
    font-size: 30px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 14.4px;
}

section .green {
    color: #1ABC9C;
}

section p {
    color: #A1B1BC;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 20px;
}

.lists {
    display: flex;
}

.lists ul li {
    color: #A1B1BC;
    font-size: 14px;
    line-height: 30px;
}

.lists ul {
    margin-right: 62px;
}

.lists ul:last-child {
    margin-right: 0;
}

.lists ul:nth-child(odd) li:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 18.6px;
    border: 1px solid #34495E;
    border-radius: 2px;
    background-color: #34495E;
}

.lists ul:nth-child(even) li:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin-right: 18.6px;
    border: 1px solid #34495E;
    border-radius: 2px;
}

section:nth-of-type(2) p {
    margin-bottom: 5px;
}

section:nth-of-type(2) p:nth-of-type(2) {
    margin-bottom: 25px;
    margin-bottom: 21.5px;
}

.code {
    height: 190px;
    margin-bottom: 25px;
    background-color: rgba(236, 240, 241, 0.5);
}

.code pre {
    color: #A1B1BC;
    font-size: 14px;
    font-family: Arial;
    line-height: 24px;
    padding-top: 25px;
    margin-left: -62px;
    word-spacing: -0.1px;
    letter-spacing: 0.1px;
}

.picture {
    margin-bottom: 49.1px;
}

.picture p:nth-of-type(1) {
    margin-bottom: 24.5px;
}

.poster {
    float: left;
    width: 370px;
    height: 400px;
    margin-top: 3.7px;
    margin-right: 31px;
    background-color: #ECF0F1;
}

.tags {
    clear: both;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    border: 1px solid #ECF0F1;
}

.tags ul {
    display: flex;
}

.tags ul li a {
    display: inline-block;
    color: #A1B1BC;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4.7px;
    margin-right: 6.8px;
    margin-bottom: 6px;
}

.tags ul li a:hover {
    color: #1ABC9C;
    text-decoration: underline;
}

.icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #34495E;
}

.icon span {
    color: #fff;
    font-size: 28px;
    line-height: 43px;
    margin-left: 12px;
}

.author {
    height: 160px;
    background-color: rgba(236, 240, 241, 0.3);
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}

.avatar {
    float: left;
    width: 107px;
    height: 107px;
    background-color: #A1B1BC;
    margin-top: 25px;
    margin-left: 28px;
    margin-right: 27.5px;
    border: 4px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.2);
}

.name {
    padding-top: 27px;
    margin-bottom: 10px;
}

.name span {
    display: block;
}

.name span:first-of-type {
    color: #2C3E50;
    font-size: 18px;
    font-family: 'Roboto Black';
    line-height: 24px;
}

.name span:last-of-type {
    color: #A1B1BC;
    font-size: 14px;
    font-family: 'Roboto Thin';
    line-height: 24px;
}

.author p {
    font-style: italic;
}

.author p:last-of-type {
    margin-top: -4px;
}